body {
    margin: 0;
    padding: 0;
        font-family: 'bitstream_vera_sansroman';
    padding-bottom: calc(10vh + 70px);
    font-size: calc(.85em + .35vw);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  @font-face {
    font-family: 'bitstream_vera_sansroman';
    src: url('Vera-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  #match-board { 
    background-color: #f4f3ef;
    min-height: calc(90vh - 70px);
  }

  #scoreboard {
    background-color: #0A3754;
    opacity: 0.85;
    min-height: calc(10vh + 70px);
    overflow: auto;
    color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  .term, .definition {
    white-space: wrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
  }
  
  .term {
    background-color: #820263;
    background-color: #540D6E;
    background-color: #9e65b3;
    background-color: #0A3754;
    background-color: #CB2D6F;
    background-color: #ff2e63;
    background-color: #f85f73;
    background-color: #fa0559;
    background-color: #e01171;
    background-color: #ff2e63;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0.2rem 0.2rem 0, 0.4rem 0.4rem 0 rgba(0,0,0,.2);
    color: #ffffff;
  }

  .term:hover {
    background-color: #540D6E;  
    color: #ffffff; 
  }
  
  .definition {
    background-color: #fdfdfd;
    border: 3px dashed #ccc;
    font-weight: bold;
    color: #555555;
  }
  
  .dragging {
    opacity: 0.1 !important;
    color: #555555;
    box-shadow: 0.25rem 0.25rem 0, 0.48rem 0.48rem 0 rgba(0,0,0,.2);
  }
  
  .is-over {
    border-color: rgba(84, 13, 110, 0.5);
  }