@import "./variables";
@import "./mixins";

@include font-face($helsinki, "/fonts/helsinki-webfont");
@include font-face($jaywalker, "/fonts/jaywalker-regular-webfont");
@include font-face($jollygoodsans, "/fonts/jollygoodsans-regular-webfont");
@include font-face($jollygoodsansbold, "/fonts/jollygoodsans-bold-webfont");
@include font-face($hkgroteskbold, "/fonts/hkgrotesk-bold-webfont");
@include font-face($hkgroteskmedium, "/fonts/hkgrotesk-medium-webfont");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: $white;
}

.quizdini-app {
  @include flexbox;
  @include flex-direction(column);
  position: relative;
  height: 100vh;
  font-size: 1.6rem;
}

.scroll-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /*max-width: 1200px;*/
  margin: 0 auto;
  z-index: 102;
  overflow: hidden;
  overflow-y: auto;
}

.page-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /*max-width: 1200px;*/
  margin: 0 auto;
  z-index: 102;
}

.binding-dark {
  background-image: url("/img/triangle-question-mark.png"), url("/img/binding-dark.png");
  background-repeat: repeat;
}

.sandpaper {
  background-image: url("/img/triangle-question-mark.png"), url("https://www.transparenttextures.com/patterns/sandpaper.png");
  background-repeat: repeat;
}

.solid {
  background-image: url("/img/triangle-question-mark.png"), url("https://www.transparenttextures.com/patterns/solid.png");
  background-repeat: repeat;
}

.triangle {
  background-image: url("/img/triangle-question-mark.png");
  background-repeat: repeat;
}

.otis {
  background-image: url("/img/triangle-question-mark.png"), url("https://www.transparenttextures.com/patterns/otis-redding.png");
  background-repeat: repeat;
}

.cardboard {
  background-image: url("/img/triangle-question-mark.png"), url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
  background-repeat: repeat;
}

.dark-lavender {
  background-color: $dark-lavender !important;
}

.brilliant {
  background-image: url('/img/brilliant.png');
  background-repeat: repeat;
}

.solid {
  background-image: url("https://www.transparenttextures.com/patterns/solid.png");
  background-repeat: repeat;
}

.triangle-brilliant {
  background-image: url("/img/triangle-question-mark.png"), url('/img/brilliant.png') ;
  background-repeat: repeat;
}

#splash-wrapper {
  position: relative;
  margin: 0 auto;
  height: 100%;
  padding: .6em 1em 0;
  margin: 0 auto 6em; /* Bottom margin = height of #footer */
}

#splash {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-around);
  @include align-items(center);
  position: relative;
  min-height: calc(100vh - 6.6em); /* Height of viewport - ((height of #footer) + (padding-top of #splash-wrapper)) */
}

#splash-logo {
  @include justify-content(center);
  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto);
  position: relative;
  max-width: 100%;
  max-height: 30vh;
  height: auto;
  overflow: auto;
  z-index: 102;
}

#title {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include flex-grow(1);
  @include flex-shrink(1);
  position: relative;
  padding: 0;
  margin: .25em 0;
  font-size: 2.3em;
  line-height: 1.1;
  max-width: 25ch;
  letter-spacing: 1px;
  font-family: $jaywalker;
  color: $baby-powder;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
  z-index: 102;
}

#instructions {
  @include flexbox();
  @include flex-grow(1);
  @include flex-shrink(1);
  @include align-items(center);
  position: relative;
  margin: .25em 0;
  line-height: 1.3;
  font-size: 1em;
  font-family: $hkgroteskbold;
  color: $baby-powder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
  z-index: 102;
}

#score {
  @include flexbox();
  @include flex-grow(1);
  @include flex-shrink(1);
  @include justify-content(center);
  @include align-items(flex-start);
  position: relative;
  text-align: center;
  line-height: 1;
  font-size: 3em;
  font-family: $helsinki;
  color: $baby-powder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
  z-index: 102;
}

#score::before, #score::after {
  content: "\00a0\2012\00a0";
}

#splash-details {

  @include flex-grow(1);
  @include flex-shrink(1);
  @include align-items(flex-start);
  @include align-self(flex-start);

  margin: .25em 0 .5em;
  font-size: .9em;

  * {
    position: relative;
    line-height: 1.3;
    font-family: $hkgroteskbold;
    color: $baby-powder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    z-index: 102;
  }

  *::before {
    content: "\00a0\0000BB\00a0";
  }

}

#footer {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6em;
  background-color: $black-alpha2;
  z-index: 108;
}

#play {
  position: relative;
  min-width: 90%;
  font-size: 1.25em;
  padding: .625em;
  line-height: 1.2;
  border-radius: .2em;
  background-color: $hot-pink;
  color: $seashell;
  border: 2px solid $baby-powder;
  font-family: $helsinki;
  text-transform: uppercase;
  text-align: center;
  z-index: 110;
}

#stars {
  display: none;
  position: absolute;
  top: 0 !important;
  left: 100%;
  z-index: 101;
  opacity: .4;
}

#computer {
  position: fixed;
  bottom: 0 !important;
  width: 300px;
  left: calc(50vw - 15px);
  z-index: 101;
  opacity: .4;
}

#computer-stars {
  position: absolute;
  bottom: 0 !important;
  width: 600px;
  top: 0;
  z-index: 100;
  opacity: .4;
}

#match-wrapper {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  position: relative;
  height: 100vh;
  margin: 0 auto;
  padding: 1em;
}

#match-board {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-around);
  @include align-items(center);
  position: relative;
  height: 100%;
  width: 100%;
}

#term-container,
#definition-container {
  @include flexbox;
  @include flex-direction(row);
  @include flex-flow(wrap);
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  min-height: 30%;
}

.term,
.definition {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  min-height: 3em;
  max-height: 3em;
  min-width: 5em; /* Necessary for broadest flex support */
  max-width: 24ch;
  margin: .2em;
  overflow: hidden;
  text-align: center;
  @include user-select(none);
  z-index: 102;
  @include box-shadow(0 0.4em 0.8em $black-alpha1, 0 0.3em 0.6em $black-alpha2);
}

.term {
  border-radius: .2em;
  background-image: url("/img/brilliant.png");
  background-repeat: repeat;

  /* Colors for tiles */
  $tileColors: (
    ("red", $red, $white, $white),
    ("orange", $orange, $white, $white),
    ("yellow", $yellow, $graphite, $white),
    ("lime", $lime, $graphite, $white),
    ("green", $green, $white, $white),
    ("cyan", $cyan, $graphite, $white),
    ("blue", $blue, $white, $white),
    ("purple", $purple, $white, $white),
    ("magenta", $magenta, $white, $white),
    ("gray", $gray, $white, $white),
    ("navy", $navy, $white, $white),
    ("teal", $teal, $white, $white)
  );
  /* Dynamically generate tile color classes */
  @each $color, $background, $textColor, $borderColor in $tileColors {
    &.#{$color} {
      background-color: #{$background};
      color: #{$textColor};
    }
    &.#{$color}:hover,
    &.#{$color}.dragging {
      border: 2px solid $borderColor;
      transform: scale(1.02, 1.02);
      transition: transform 0.1s ease-in-out !important;
    }
    &.#{$color}.dragging {
      text-transform: uppercase;
    }
  }
}

.term.preview {
  z-index: 111;
  opacity: 0.8 !important;
}

.term:hover {
  @include box-shadow(
    0 .5em 1em rgba(0, 0, 0, 0.19),
    0 .375em 0.375em rgba(0, 0, 0, 0.23)
  );
}

.definition {
  border-radius: .2em;
  background-color: $gray-light-light;
  touch-action: none;
  background-color: $logo-white;
  background-image: linear-gradient(90deg, transparent 23px, $lined-paper-red 23px, $lined-paper-red 25px, transparent 25px), linear-gradient($lined-paper-blue 2px, transparent 2px);
  background-size: 100% calc(.75em * 1.5);
}

.term-text,
.definition-text {
  width: 100%;
  height: 100%; 
  padding: 0 .5em;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.term-text {
  font-family: $hkgroteskbold;
  font-size: 1em;
  line-height: 1.3;
  font-weight: 600;
}

.definition-text {
  font-family: $jollygoodsansbold;
  font-size: 0.85em;
  line-height: 1.6;
  color: $graphite;
  letter-spacing: -1px;
}

.term.expand,
.definition.expand {
  z-index: 103;
  overflow: visible;
  border: none;
}

.term.expand > .term-text,
.definition.expand > .definition-text {
  background-color: inherit;
  color: inherit;
  white-space: normal !important;
  overflow: visible;
  border-radius: .2em;
  z-index: 104;
}

term.dragging {
  text-transform: uppercase;
}

.definition.is-over {
  transform: scale(1.02, 1.02);
  transition: transform 0.1s ease-in-out !important;
}

.term.matched,
.definition.matched {
  background-color: $white !important;
  border-color: $bright-green !important;
}

.term.matched > .term-text,
.definition.matched > .definition-text {
  color: $bright-green !important;
  text-shadow: none !important;
}

#game-logo {
  display: none;
  position: absolute;
  width: 10em;
  bottom: calc(3vw *.67);
  left: calc(3vw);
  opacity: .4;
}

#game-title {
  display: flex;
  display: none;
  font-family: $jaywalker;
  color: $baby-powder;
  line-height: 1.1;
  justify-content: center;
  font-size: 2em;
  /* top: 3vh; */
  flex-direction: column;
  margin-top: .5em;
  /* margin-bottom: .5em; */
  position: absolute;
  bottom: 8vh;
  width: 40%;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  right: calc(50vw - 20%);
}

#timer {
  position: fixed;
  width: 5em;
  height: 5em;
  bottom: calc(3vw *.67);
  right: calc(3vw);
  z-index: 112;
}

.timer {
  width: 100%;
}

.timer .timer-path {
  stroke: $white;
  stroke-linecap: square;
}

.timer .timer-trail {
  transition: stroke 1s ease-in-out;
}

.timer .timer-text {
  fill: $white;
  font-family: $helsinki;
  font-weight: bold;
  font-size: 1.6em;   
  letter-spacing: 2px;
  text-anchor: middle;
  dominant-baseline: central;
  alignment-baseline: central;
  transition: width 1s ease-in-out;
}

.timer .timer-background {
  fill: $black-alpha4;
}

@media (min-width: 600px) {

  .quizdini-app {
    font-size: 2.4em;
  }

  .page-container {
    background-color: blue; 
  }

  #instructions {
    text-align: center;
  }

  #play {
    min-width: 14em;
  }

  #computer {
    display: block;
  }

}

/* Small, low-height landscape */
/* To, do: Show computer and move computer and stars to the right */
@media (min-width: 480px) and (max-height: 600px) and (max-width: 900px) and (orientation: landscape) {

  .quizdini-app {
    font-size: 1.4rem;
  } 

  .page-container {
    background-color: pink;
  } 
  
  #computer {
    display: none;
  } 

  #instructions {
    display: none;
  }

}

/* Medium mobile and up, including small, low-height landscape */ 
@media (min-width: 600px), (max-height: 600px) and (max-width: 900px) and (orientation: landscape) {

  #instructions {
    @include justify-content(center);
  }

  #splash-details {
    @include flexbox();
    @include flex-flow(wrap);
    @include align-self(center);
    @include justify-content(center);
  
    * {
      line-height: 1;
    }

    #matches::before {
      content: "";
    }

    #author::before, #topic::before { 
      content: "\00a0\0000B7\00a0";
    } 
  }
  
}

@media (min-width: 900px) {

  .quizdini-app {
    font-size: 2.6rem;
  }  
  
  #computer-stars {
    width: 830px;
    left: calc(50vw - 415px);
  }

}

@media (min-width: 900px) and (orientation: landscape) {

  .quizdini-app {
    font-size: 2.6rem;
  }

  .page-container {
    background-color: brown;
  }  

  .term,
  .definition {
    @include flex-basis(31%);
    @include flex-grow(0);
    @include flex-shrink(0);
    /*@include align-self(center);*/
  }

} 

/* Large mobile/tablets in portrait, e.g., Nexus 10, iPads, etc. */
@media screen and (min-width: 768px) and (min-height: 961px) and (max-height: 1367px) and (orientation: portrait) {

  .quizdini-app {
    font-size: 3rem;
  }

  .page-container {
    background-color: palegreen;
  }

}

@media (min-width: 1200px) {
  
  .quizdini-app {
    font-size: 3rem;
  }

  .page-container {
    max-width: none;
    background-color: red;
  }

  #splash-wrapper {
    max-width: 1440px !important;
  }

  #match-wrapper {
    max-width: 1920px !important;
  }

  #game-logo {
    display: block;
  }

  #stars {
    display: block;
    transform: translate(-2100px, 0);
  }

  #computer {
    left: 100% !important;
    width: 400px;
    transform: translate(-240px, 0);
    opacity: 1.0;
    z-index: 108;
  }
  
  #computer-stars {
    left: 100% !important;
    width: 1024px;
    transform: translate(-552px, 0px);
    opacity: .4;
  }
  
  #match-board {
    @include flex-direction(row);
    @include align-items(flex-start);
    padding-top: 5vh;
  }
  
  #term-container,
  #definition-container {
    min-height: 60%; 
  }
  
  #term-container {
    padding-left: 2vw;
  }
  
  #definition-container {
    padding-right: 2vw;
  }
  
  .term,
  .definition {
    @include flex-basis(31%);
    @include flex-grow(0);
    @include flex-shrink(0);
    @include align-self(center);
    min-height: 5em;
    max-height: 5em;
  }
  
  .term-text,
  .definition-text {
    white-space: normal;
  }

}
