// Fonts
$helsinki: 'helsinkiregular';
$jaywalker: 'jaywalkerregular';
$jollygoodsans: 'jollygoodsans-regular';
$jollygoodsansbold: 'jollygood_sansbold';
$hkgroteskbold: 'hk_groteskbold';
$hkgroteskmedium: 'hk_groteskmedium';

// Colors
$white: #ffffff;
$white-alpha9: rgba(255,255,255,0.9);
$white-alpha1: rgba(255,255,255,0.1);
$black: #000000;
$black-alpha4: rgba(0,0,0,0.4);
$black-alpha3: rgba(0,0,0,0.3);
$black-alpha2: rgba(0,0,0,0.2);
$black-alpha1: rgba(0,0,0,0.1);
$gray-light-light: #f5f5f6;
$gray-light: #e1e2e1; 
$gray: #a9a9a9; 
$gray-dark: #555555;
$gray-dark-dark: #333333;

$red: #e6194b;
$green: #3cb44b;
$yellow: #ffe119;
$blue: #4363d8;
$orange: #f58231;
$purple: #911eb4;
$cyan: #42d4f4;
$magenta: #f032e6;
$hot-pink: #e51f63;
$lime: #bfef45;
$pink: #fabebe;
$teal: #469990;
$lavender: #e6beff;
$brown: #9a6324;
$beige: #ECE2D0;
$maroon: #800000;
$mint: #aaffc3;
$olive: #808000;
$apricot: #ffd8b1;
$navy: #000075;
$graphite: rgba(56, 52, 40, 1.0);
$bright-green: #1FE73F;

$logo-gray-light: #CCCCCB;
$logo-black: #232F34;
$logo-gray: #404041;
$logo-white: #fcfcfc;

$splash-green: #5cdd96;
$splash-yellow: #ffce4d;

$splash-purple: #5D2E8C;
$banana: #f1e8b8;

$tuscan-red: rgba(103, 60, 79, 1);
$seashell: rgba(255, 243, 239, 1);
$tropical-rain-forest: rgba(0, 102, 102, 1);
$chinese-violet: rgba(127, 85, 125, 1);
$cadet-grey: rgba(151, 163, 172, 1);
$silver: rgba(197, 197, 197, 1);

$coral-red: #fb3640;
$granite-gray: #605f5e;
$violet: #911eb4;
$space-cadet: #1d3461;
$baby-powder: #fcfcfc;
$imperial: #61456a;
$gainboro: #dbdbdb;
$platinum: #e4e0e6;
$dark-lavender: #7c4199;


$highlighter-yellow: #ffc;
$lined-paper-blue: #d0edf8;
$lined-paper-red: rgba(220, 108, 142, .3s);
